body{
	margin:0px;
	padding: 50px;
}
header{
	border-bottom: 2px solid grey;
	background-color: white;
	display:flex;
	flex-direction: row;
	background-color: white;
}
nav{
  background-color:white;
  display:flex;
  justify-content:space-around;
}
nav a{
  color:grey;
  text-decoration:none;
  text-align:center;
  padding: 20px ;  
  font-size: 20px;  
}
nav a:hover{
	background-color: black;
	color:white;
}
.img1{
	width:100%;
	height:350px;	
}
.img-container{position:relative;}
.imgtext{
  position: absolute;
  bottom: 0px;
  right: 0px;  
  background-color: #f1f1f1;
  color: black;
  width:100%; 
}
.wheather-container{
	display:flex;
	flex-direction: row;
}
.wheather{
	width:25%;
	height:auto;
	text-align: center;
	font-weight: 18px;
}
.wheather img{
	width:100%;
	height:auto;
}
table{
	width:100%;
	font-size: 20px;
	margin-top: 50px;
}
table th{
	color:grey;	
}
table td{
	padding: 25px;	
}
footer{
	background-color:;
	display:flex;
	justify-content: flex-start;
}
footer a{
	color:grey;
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
}
hr{
	color: grey;
}
#toggle{
	display:none;
}
.toggle-area{
	background-color: white;
	padding: 5px;
	display: flex;
	justify-content:flex-end;	
}
.toggle-area label{
	width:45px;
	height:45px;
	color:black;
	border-radius: 6px;
	background-color: white;
	cursor: pointer;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.toggle-area label span{
	background:black;
	width: 70%;
	height:4px;
	margin:2px 0px;

}
.toggle-area{display:none;}

@media screen and (max-width: 1000px){

	#container{
		display:flex;
		flex-direction:row;
		flex-flow: wrap;
	}
		header{width:100%;order:1;}
	nav{width:100%;order:2;}
	.img-container{width:45%;order:3;}
	.wheather-report{width:45%;order:4;}
	.top-news{width:100%;order:5;}
	.table{width:100%;order:6;}
	.latest-news{width:100%;order:7;}
	footer{width:100%;order:8;}

}
@media screen and (max-width: 768px){
		header{width:100%;order:1;}
	nav{
		flex-direction:column;
		display:none;
		width:100%;
		order:2;
	}
	.toggle-area{display:flex;}
	#toggle:checked + nav{
		display: flex;
	}
	.img-container{width:100%;order:3;}
	.wheather-report{width:100%;order:6;}
	.top-news{width:100%;order:4;}
	.table{width:100%;order:5;}
	.latest-news{width:100%;order:7;}
	footer{width:100%;order:8;}
  

	}